@model Link_Shortener.Models.Link

<html>
<body onload="window.location.replace('@Model.linkTo')">

    Redirecting To @Model.linkTo ...

    <p>
        @Html.ActionLink("Shorten New Link", "create")
    </p>
</body>
</html>